<footer class="ampstart-footer flex flex-column items-center px3">
    <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
            {% if site.about %}

            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="{{site.baseurl}}{{site.about}}">About</a>
            </li>
            {% endif %} {% if site.contact %}

            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="{{site.baseurl}}{{site.contact}}">Contact</a>
            </li>
            {% endif %} 
        </ul>
    </nav>
</footer>
